//Main colours
$Kijiji-Purple: #373373;
$Kijiji-Green: #37a864;
$Kijiji-White: #ffffff;
$Kijiji-Yellow: #f8aa17;
$Kijiji-Violet: #9b44ad;
$Kijiji-Blue: #2681db;
$Kijiji-Red: #f1454f;

// Main grey for typography
$Kijiji-Grey3: #6c7083;

// Seccondary grey for backgrounds
$Kijiji-Grey8: #f8f8f9;
